/**//* Import Material UI color themes */
@import "@material/theme/color-palette";
/**//* Import Material defualt typography */
@import "@material/typography/mdc-typography";
/**//* Theming of the Svelte Material UI components */
/** */
$mdc-theme-primary                     : $material-color-teal-600;
$mdc-theme-on-primary                  : $material-color-grey-300;
$mdc-theme-text-primary-on-background  : white;
$mdc-theme-text-primary-on-light       : rgba(0,0,0,0.87);
$mdc-theme-text-primary-on-dark        : white;
/** */
$mdc-theme-secondary                   : red;
$mdc-theme-on-secondary                : black;
$mdc-theme-text-secondary-on-background: hsla(0,0%,100%,0.7);
$mdc-theme-text-secondary-on-light     : rgba(0,0,0,0.54);
$mdc-theme-text-secondary-on-dark      : hsla(0,0%,100%,0.7);
/** */
$mdc-theme-background                  : $material-color-grey-900;
$mdc-theme-text-hint-on-background     : hsla(0,0%,100%,0.5);
$mdc-theme-text-disabled-on-background : hsla(0,0%,100%,0.5);
$mdc-theme-text-icon-on-background     : hsla(0,0%,100%,0.5);
/** */
$mdc-theme-surface                     : $material-color-red-900;
$mdc-theme-on-surface                  : $material-color-grey-800;
/** */
$mdc-theme-error                       : $material-color-red-900;
$mdc-theme-on-error                    : red;
/** */
$mdc-theme-text-hint-on-light          : rgba(0,0,0,0.38);
$mdc-theme-text-disabled-on-light      : rgba(0,0,0,0.38);
$mdc-theme-text-icon-on-light          : rgba(0,0,0,0.38);
/** */
$mdc-theme-text-hint-on-dark           : hsla(0,0%,100%,0.5);
$mdc-theme-text-disabled-on-dark       : hsla(0,0%,100%,0.5);
$mdc-theme-text-icon-on-dark           : hsla(0,0%,100%,0.5);