<script>
  import ProfilePic from "@cmpnts/ProfilePic/ProfilePic.svelte";
  import Drawer, {
    AppContent,
    Content,
    Header,
    Title,
    Subtitle,
    Scrim
  } from "@smui/drawer";
  import Button, {Label} from "@smui/button";
  import IconButton from "@smui/icon-button";
  import List, {Item, Text, Graphic, Separator, Subheader} from "@smui/list";
  // retrieve list of drawer items.
  import DrawerList from "@utils/DrawerConfig.json.js";
  // init the Drawer settings
  let sideDrawer;
  let toggleDrawer = false;
  let active = DrawerList[0].itemText;
  function setActive(val) {
    active = val;
    toggleDrawer = false;
  }
</script>

<style lang="scss">
  @import "App.scss";
</style>

<!-- on window resize, close the app drawer. -->
<svelte:window on:resize={() => toggleDrawer = false}/>

<div class="app-container">
  <!-- App Drawer. -->
  <Drawer
    variant="modal"
    bind:this={sideDrawer}
    bind:open={toggleDrawer}
    class="bg-gray-100 fixed">
    <Header class="text-center m-auto">
      <br>
      <ProfilePic/>
      <Subtitle class="no-text-select">Henry Ong</Subtitle>
    </Header>
    <Content>
      <List>
        {#each DrawerList as {href, activationType, materialIcon, itemText}, i}
          {#if itemText !== 'seperator'}
            <Item
              {href}
              on:click={() => setActive(activationType)}
              activated={active === activationType}>
              <Graphic class="material-icons no-text-select" aria-hidden="true">
                {materialIcon}
              </Graphic>
              <Text class="no-text-select">{itemText}</Text>
            </Item>
          {:else if itemText === 'seperator'}
            <Separator nav color="primary" />
          {/if}
        {/each}
      </List>
    </Content>
  </Drawer>
  <!-- This is where background gets clicked to trigger event. -->
  <Scrim style="background-color: unset;" />
  <!-- This is where the Routed App Content lives. -->
  <AppContent>
    <main class="main-content">
      <IconButton
        class="material-icons text-white mt-6 mx-6 fixed"
        color="primary"
        on:click={() => (toggleDrawer = !toggleDrawer)}>
        menu
      </IconButton>
      <!-- SPA Routes lives here. -->
      <div class="border-2 border-solid border-red-700 h-full">
        <pre style="color: white">Active: {active}</pre>
      </div>
    </main>
  </AppContent>
</div>