.app-container {
  background-image: url("../../assets/animated_bg_text.svg");
  @apply bg-gray-900 bg-no-repeat bg-center bg-cover;
  @apply w-full min-h-screen;
  @apply grid;
}

.main-content {
  @apply h-screen;
}