<script>
  import axios from "axios";
  import { onMount } from "svelte";
  const profileUrl = "../../assets/profile-image.png";
  onMount(async () => {
    const profileEl  = document.getElementById('profileImage');
    await axios
      .get(profileUrl, {responseType: "blob"})
      .then(res => {
        const reader = new window.FileReader();
        reader.readAsDataURL(res.data);
        reader.onload = () => profileEl.setAttribute('src', reader.result);
      })
      .catch(err => console.error(err));
  });

  // props
  // export let image = "default";
  export let shape = "round";
</script>

<style>
  @import "ProfilePic.scss";
</style>

<div class="profile-img-{shape}">
  <img
    id="profileImage"
    title="default or user profile image"
    alt="user profile image"
    loading="lazy"
    class="no-text-select"/>
</div>